openapi: 3.2.0
info:
  title: SmartLead Campaign Statistics API
  version: 1.0.0
  description: '# SmartLead API Documentation


    Welcome to the SmartLead API!'
  contact:
    name: SmartLead Support
    email: support@smartlead.ai
    url: https://smartlead.ai
  license:
    name: Proprietary
    url: https://smartlead.ai/terms
servers:
- url: https://server.smartlead.ai/api
  description: Production server
- url: https://staging.smartlead.ai/api
  description: Staging server (for testing)
security:
- ApiKeyAuth: []
tags:
- name: Campaign Statistics
  description: Retrieve detailed campaign performance metrics
paths:
  /v1/campaigns/{campaign_id}/statistics:
    get:
      tags:
      - Campaign Statistics
      summary: Get Campaign Statistics
      description: 'Retrieves detailed statistics for a campaign including email sent, opened, clicked, replied, bounced, and unsubscribed counts.


        Supports filtering and pagination.'
      operationId: getCampaignStatistics
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      responses:
        '200':
          description: Statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignStatistics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/campaigns/{campaign_id}/analytics:
    get:
      tags:
      - Campaign Statistics
      summary: Get Campaign Analytics
      description: Retrieves comprehensive campaign analytics including performance metrics over time.
      operationId: getCampaignAnalytics
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAnalytics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    CampaignStatistics:
      type: object
      properties:
        total_leads:
          type: integer
        emails_sent:
          type: integer
        emails_opened:
          type: integer
        emails_clicked:
          type: integer
        emails_replied:
          type: integer
        emails_bounced:
          type: integer
        unsubscribed:
          type: integer
        open_rate:
          type: number
        click_rate:
          type: number
        reply_rate:
          type: number
        bounce_rate:
          type: number
    CampaignAnalytics:
      type: object
      properties:
        campaign_id:
          type: integer
        metrics:
          type: object
        time_series:
          type: array
          items:
            type: object
  responses:
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Resource not found
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Internal server error occurred
    UnauthorizedError:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invalid API Key
          example:
            message: Invalid API Key
  parameters:
    ApiKeyParam:
      name: api_key
      in: query
      description: Your SmartLead API key for authentication
      required: true
      schema:
        type: string
      example: REDACTED_STRIPE_KEY
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: 'Your SmartLead API key. You can generate this from your dashboard under Settings > API Keys.


        Include this as a query parameter in all API requests:

        ```

        ?api_key=YOUR_API_KEY

        ```

        '
